language: cpp

compiler:
  - gcc
  - clang
  
install:
- if [[ "$CXX" == "g++" ]]; then export CXX="g++-5" CC="gcc-5"; fi
- if [[ "$CXX" == "clang++" ]]; then export CXX="clang++-3.7" CC="clang-3.7"; fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.7
    packages:
    - gcc-5
    - g++-5
    - clang-3.7

before_script:
  - mkdir build
  - cd build
  - cmake ..

script: 
  - make 
  - make check

sudo: required
dist: trusty
